#containee__menu-bar{
    height: 50px;
    background-color: #111111;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.logo{
    background-color: red;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10px;
}
ul{ 
    display: flex;
    flex-direction: row;
    gap: 50px;
}
#containee__menu-bar > ul > li {
   margin-right: 20px;
   list-style: none;
}

